/* .portafolio{
  background-image: url("../assets/fondo6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 */

.portafolio {
    padding: 20px;
    background-color:white;
  }

  .portafolio{
    border: 2px solid #001546;
    padding: 20px;
    border-radius: 5px;
    margin:20px;
  }
  
  .titulo-portafolio {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .imagen-servicios {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .servicio {
    margin-bottom: 20px;
  }
  
  .titulo-servicio {
    color:black;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .descripcion-servicio {
    color: black;
    line-height: 1.5;
  }
  

  .imagen-framework {
    border: 1px solid black; /* Cambia "black" por el color de borde deseado */
  }
  